--extra-index-url https://download.pytorch.org/whl/cpu

numpy==1.26.4

torch==2.4.0+cpu
transformers==4.44.2
sentence-transformers==3.0.1

fastapi
uvicorn
pydantic
scikit-learn
langdetect
deep-translator