# Target directory
target/
*.db

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.metadata/
.classpath
.project
.settings/
*.launch

# VS Code
.vscode/

# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
.pytest_cache/
.tox/
.coverage
.cache/
htmlcov/
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# HuggingFace Cache
.cache/huggingface/
huggingface/
sentence_transformers/

# Logs
*.log
